*{
	margin: 0;
	padding: 0;
}

html,body{
	height: 100%;
}



body{
	background-image: url(https://img.freepik.com/free-photo/blue-gradient-abstract-background-empty-room-with-space-your-text-picture_1258-3145.jpg?w=2000);
}
img{
	display: block;
	margin:auto;
	height: 65px;
	width: 65px;
	margin-top: 20px;

}

nav ul li{
	
	color: white;
	width: 150px;
	text-align: center;
}
nav ul{
	
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
	background: black;
	height: 70px;
	align-items: center;
	
	font-size: 20px;

}


nav ul li a{
	color: white;
	text-decoration: none;
	
}

nav{

	margin-bottom: 50px;
}

ul{

	list-style: none;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	
}

.skills ul{
	display: flex;
	flex-wrap: wrap;

	justify-content: space-around;
}

.lang ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

h1{
	font-size: 50px;
	text-align: center;
	margin-bottom: 40px;
	
}


.skills ul li,.lang ul li{
	
	text-align: center;
	border: 2px solid black;
	width: 300px;
	height: 150px;
	margin-bottom: 30px;
	font-size: 20px;
}

span{
	position: relative;
	bottom: 0;
}
.skills,.lang,h1{
	margin-left: 20px;
}





.lang li{
	font-size: 20px;
	margin-bottom: 20px;
}

.skills li,.lang li,h1{
	ima
	text-align: center;
	padding-top: 100px;
	margin: 10px;
	font-weight: bold;
	/*color: yellow;*/

}



@media screen and (max-width: 738px){
	
	nav ul li{
		width: 100%;
		font-size: 3vw;
	}
	h1{
		font-size: 30px;
	}
	nav ul{
		justify-content: center;
		height: 20vw;

		flex-wrap: wrap;
	}
	.skills ul li,.lang ul li{
		width: 250px;
	}
	/*.skills ul li{
		font-size: 20px;
	}*/
	.skills,.lang{
		margin-left: 0;
	}
	
	
	
}